label
{
    font-family: monospace;
    font-size: 110%;
}

/* Main wrapper div. */
#main-wrapper
{
    border-style: solid;
    width: 1510px;
    height: 700px;
}

/* Main title of page. */
#page-title
{
    color: rgb(37, 37, 37);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 400%;
    font-weight: 100;
    text-align: center;
    top: -1%;
    position: relative;
}

/* Contains sub divs each displaying the name of an AI
   model available for selection. */
#model-list
{
    background-color: rgb(37, 37, 37);
    width: 15%;
    height: 20%;
    overflow: scroll;
    top: 49%;
    left: 1%;
    position: relative;
    scrollbar-color: rgb(92, 92, 92) transparent;
    scrollbar-width: thin;
    border-style: solid;
    border-width: 0.25vh;
    border-color: rgb(86, 86, 86);
}

/* Name for model selection button. */
#model-select-name
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 110%;
    position: relative;
    bottom: 30%;
    color: white;
}

/* Add div box for model selection button. */
#model-select-button
{
    background-color: rgb(37, 37, 37);
    width: 15%;
    height: 5%;
    border-style: solid;
    border-width: 0.25vh;
    border-color: rgb(86, 86, 86);
    text-align: center;
    position: relative;
    left: 1%;
    top: 50%;
    user-select: none;
}

/* Parent div for file selection. */
#file-selection
{
    width: 29%;
    height: 30%;
    left: 20%;
    bottom: 30%;
}

/* Textbox for entering path to directory that contains files. */
#path-textbox
{
    background-color: rgb(151, 151, 151);
    width: 70%;
    height: 13%;
    left: 12%;
    bottom: 14%;
    text-align: left;
    position: relative;
    border-color: black;
    border-style: none;
    font-family: monospace;
    overflow-x: scroll;
    overflow-wrap: normal;

    scrollbar-color: rgb(92, 92, 92) transparent;
    scrollbar-width: thin;
}

/* Path textbox label. */
#path-textbox-label
{
    font-family: monospace;
    right: 43%;
    bottom: 6%;
    font-size: 110%;
    position: relative;
}

/* File list box. */
#file-list
{
    bottom: 21%;
    left: 3%;
    width: 94%;
    height: 57%;
    background-color: rgb(151, 151, 151);
    position: relative;
}

/* Button responsible for refreshing file list. */
#refresh-button
{
    width: 15%;
    height: 13%;
    bottom: 27%;
    left: 83%;
    position: relative;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(86, 86, 86);
    line-height: 170%;
    font-size: 120%;
    user-select: none;
}

/* Box to display metadata of file. */
#file-metadata
{
    width: 29%;
    height: 30%;
    left: 50%;
    bottom: 60.5%;
}

/* File metadata textbox. */
#metadata-textbox
{
    bottom: 7%;
    left: 3%;
    width: 94%;
    height: 77%;
    background-color: rgb(151, 151, 151);
    position: relative;
}

/* Box to display metadata of file. */
#scan-results
{
    width: 39%;
    height: 30%;
    left: 30%;
    bottom: 59%;
}

/* Wrapper div for chunk scanning bar. */
#chunk-prog-wrapper
{
    bottom: 5%;
    height: 10%;
    position: relative;
}

/* Progress bar displays number of file byte chunks scanned for AI model
   prediction. */
#chunk-prog-bar
{
    width: 40%;
    background-color: rgb(143, 143, 143);
    height: 60%;
}
/* For chrome. */
#chunk-prog-bar::-webkit-progress-value
{
    background-color: rgb(87, 87, 87);
}
/* For firefox. */
#chunk-prog-bar::-moz-progress-bar
{
    background-color: rgb(87, 87, 87);
}

/* Wrapper div to contain all class bars. */
#class-prog-bars-wrapper
{
    text-align: right;
    right: 11%;
    position: relative;
    height: 10%;
    line-height: 170%;
}

/* CSS rules for classes. */

/* Title for div boxes. */
.div-title
{
    font-family: monospace;
    bottom: 3%;
    position: relative;
    font-size: 120%;
}

/* Class for all boxes. */
.div-box
{
    background-color: rgb(206, 206, 206);
    text-align: center;
    position: relative;
    border-style: solid;
    border-width: 0.25vh;
    border-color: rgb(86, 86, 86);
}

/* Div to display the name of an available AI model. */
.model-entry
{
    background-color: rgb(37, 37, 37);
    height: 20%;
    text-align: center;
    font-family: monospace;
    font-size: 130%;
    color: white;
    border-bottom-style: solid;
    border-width: 0.1vw;
    border-color: rgb(89, 89, 89);
    line-height: 150%;
    user-select: none;
}

/* Display percentage of file byte chunks belong to class/category. */
.class-bar
{
    width: 60%;
    background-color: rgb(143, 143, 143);
    height: 80%;
}
/* For chrome. */
.class-bar::-webkit-progress-value
{
    background-color: rgb(87, 87, 87);
}
/* For firefox. */
.class-bar::-moz-progress-bar
{
    background-color: rgb(87, 87, 87);
}

/* Misc */

/* Remove the border around inner textbox when entering text. */
[contenteditable] {
  outline: 0px solid transparent;
}