{% load static %}

<!DOCTYPE html>
<html>
    <!-- Tab title. -->
    <title>AI Antimalware</title>

    <!-- Link to CSS. -->
    <header>
        <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    </header>

    <body>
        <div id="main-wrapper">
            <h1 id="page-title">AI AntiMalware</h1>
            
            <!-- Create the list of AI models selectable from the Django AIModelsTable. -->
            <div id="model-list">
                {% for entry in model_db %}
                    <div class="model-entry" id="{{entry.model_name}}">{{entry.model_name}}</div>
                {% endfor %}
            </div>

            <!-- Div element to act as button to display dropdown model list. -->
            <div id="model-select-button">
                <h3 id="model-select-name">Select Model</h3>
            </div>

            <!-- File selection div. -->
            <div id="file-selection" class="div-box">
                <h3 class="div-title">File Selection</h3>

                <!-- Textbox to enter directory path. -->
                <div id="path-textbox-label">Path:</div>
                <div id="path-textbox" contenteditable="true"></div>
                <div id="refresh-button"><b>REFRESH</b></div>
                <div id="file-list"></div>
            </div>

            <!-- Box for displaying file metadata. -->
            <div id="file-metadata" class="div-box">
                <h3 class="div-title">File Metadata</h3>
                <div id="metadata-textbox"></div>
            </div>

            <!-- Display scan results of selected file. -->
            <div id="scan-results" class="div-box">
                <h3 class="div-title">Scan Results</h3>
                <label for="chunk-prog-bar">Chunks: 0/0 </label>
                <progress id="chunk-prog-bar"></progress>

                <!-- Bars to display classification predictions. -->
                <div id="class-prog-bars-list" style="text-align: right;"></div>
            </div>
        </div>

    </body>
</html>